<template>
  <div class="form">
    <b-form>
      <b-form-group id="input-group-1" label="Nome:">
        <b-form-input
          id="input-1"
          v-model="name"
          required
          placeholder="Digite seu nome"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="textarea" label="Comentário:">
        <b-form-textarea
          id="textarea"
          v-model="message"
          placeholder="Digite seu comentário..."
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </b-form-group>

      <b-button type="submit" variant="primary" v-on:click.prevent="onSubmit">Enviar</b-button>
    </b-form>
  </div>
</template>

<script>

export default {
  name: "Comments",
  data() {
    return { 
      name: "",
      message: "",
    };
  },
  methods: {
    onSubmit() {
      /*let data = localStorage.getItem('data')

      if(data === null){
        data = []
      }else {
        data = JSON.parse(data)
      } 
      */
      //data.push({id: data.length + 1, name: this.name, message: this.message})
      this.$emit('pushItem', {name: this.name, message: this.message})
      //localStorage.setItem('data', JSON.stringify(data))

      this.name = ''
      this.message = ''

    }
  },
};

</script>

<style scoped>
.form b-form {
    margin-bottom: 20px;
}

</style>
