<template>
  <b-list-group>
    <b-list-group-item class="flex-column align-items-start" v-for="(comment, index) in comments" :key="comment.namep">
      <p>
        {{comment.message}}
      </p>

      <small>{{comment.name}}</small>
      <b-button variant="danger" class="btn-rmv" v-on:click="onDelete(index)">Excluir</b-button>
    </b-list-group-item>
  </b-list-group>
</template>

<script>

export default {
  name: "List",
  data() {
      return {
        //comments: JSON.parse(localStorage.getItem('data'))
        comments: this.listdata
      }
  },
  methods: {
    onDelete(index) {
      this.comments.splice(index, 1)

      //localStorage.setItem('data',JSON.stringify(this.comments))

    }
  },
  props: {
    listdata: {
      type: Array,
      required: true,
      validator: (value) => {
        if( typeof value === 'undefined')
          return false
        return true
      }
    }
  }
};
</script>

<style scoped>
.btn-rmv {
  position: absolute;
  
  left: 90%;
  bottom: 25%;
}
</style>