<template>
  <div id="app">
      <b-tabs content-class="mt-3">
      <b-tab title="List"><List :listdata="items" /></b-tab>
      <b-tab title="Register"><Comments @pushItem="getPushItem" /></b-tab>
      </b-tabs>
  </div>
</template>

<script>
import Comments from "./components/Comments.vue"
import List from "./components/List.vue"


export default {
  name: 'App',
  components: {
    Comments,
    List
  },
  data() {
    return {
      items: []
    }
  }, methods: {
    getPushItem(value) {
      this.items.push(value)
    }
  }
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
